/* CSS Document */
*{
	padding:0;
	margin:0;}
.ce
{
	width:1308px;
	height:2000px;
	margin-left:auto;
	margin-right:auto;
	background-color:hsla(359,48%,76%,1.00);
}


.bodyer
{
	width:400px;
	height:400px;
	margin-right:auto;
	margin-left:auto;
	background-color:hsla(359,89%,40%,1.00);}