*{
	margin:0;
	padding:0;
 }
img,a,li{
	border: none;
}	
 
 
 #content
 {
	 width:100%;
	 height:6374px;
	 float:left;
	 background-image:url(images/content.jpg);
	 background-size:100%;
	 position:relative;
	 
}
	
	
	
/********************************header**************************/	
#header{
	width:1308px;
	height:605px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(images/banner.jpg);
	background-repeat:no-repeat;
}

.header_top{
	width:1308px;
	height:117px;
	margin-left:auto;
	margin-right:auto;
}
	
.header_bottom
{
	width:1308px;
	height:579px;
	float:left;}
	
	.header_guanggao
	{
		width:1308px;
		height:90px;
		float:left;
		background-color:rgba(255,255,255,0.2)}
		
	.dingwei_tow
	{
		width:867px;
		margin-left:auto;
		margin-right:auto;}
		
	.dingwei_three
	{
		width:867px;
		height:27px;
		margin-left:auto;
		margin-right:auto;
		}
		
	.dingwei_three a
	{
		}
		
	.dingwei_three ul
	{
		list-style:none;
		float:left;} 
		
	.dingwei_three li
	{
		width:82px;
		height:26px;
		float:left;
		margin-left:10px;
		background-color:#ffb6c1;
		text-align:center;
		line-height:26px;
		border-radius:5px;
		cursor:pointer;}
		.dingwei_three li a
		{
			text-decoration:none;
			color:#5a0412;}
		
	.dingwei_three li:nth-of-type(1)
	{
		margin-left:0;}
		
 .logo
 {
	 width:208px;
	 height:90px;
	 float:left;
	 margin-left:-3px;}
	 
	.header_top_gg
	{
		width:659px;
		height:90px;
		float:left;
}
	.header_top_gg ul
	{
		list-style:none;
		float:left;}
	.header_top_gg li
	{
		display:inline-block;
		height:90px;
		margin-left:39px;
		float:left;
		}
	.	.header_top_gg li top_12_lianjie a
	{
		width:144px;
		height:89px;
		display:block;
}		


	.header_top_gg li:nth-of-type(1)
	{
		margin-left:90px;}
	.header_top_gg li:nth-of-type(3)
	{
		margin-left:48px;}
		


/***********************************end*************************************/	
	
	
	#bodyer
	{
		width:1308px;
		height:5650px;
		margin-left:auto;
		margin-right:auto;
		background-image:url(images/bj.jpg);
		background-repeat:no-repeat;
		padding-top:39px;}
		
	.bodyer_youhuijuan
	{
		width:315px;
		height:85px;
		margin-right:auto;
		margin-left:auto;
		}

		
	.bodyer_one
	{
		width:693px;
		height:842px;
		margin-left:auto;
		margin-right:auto;
		background-image:url(images/bodyer_one.png);
		background-repeat:no-repeat;
		margin-top:100px
		}
		
	
	.bodyer_one_ul ul
	{
		list-style:none;}
	.bodyer_one_ul li
	{
		float:left;
		margin-left:22px;
		margin-top:15px;}
		
	.bodyer_one_ul li:nth-of-type(1)
	{
		margin-left:73px;}
		
	.bodyer_one_tow
	{
		width:548px;
		height:124px;
		float:left;
		margin-top:157px;
		margin-left:73px;
		
	
		}
		
	.bodyer_one_three
	{
		width:548px;
		height:262px;
		float:left;
		margin-left:73px;
		margin-top:15px;
		
		}
		
/*******bodyer_tow*******/		
	.bodyer_tow
	{
		width:1308px;
		height:657px;
		float:left;
		background-image:url(images/bodyer_tow.png);
		margin-top:169px;
		background-repeat:no-repeat;		}
		
	.bodyer_tow_text
	{
		width:276px;
		height:80px;
		margin-left:auto;
		margin-right:auto;
		}
		
	.bodyer_tow_text_top
	{
		width:280px;
		height:31px;
		float:left;
		text-align:center;}	
		
			
	.bodyer_tow_product
	{
		width:558px;
		height:288px;
		margin-left:auto;
		margin-right:auto;
		margin-top:168px;}
		
	.bodyer_tow_product_left
	{
		width:322px;
		height:288px;
		float:left;}
		
	.bodyer_tow_product_right
	{
		width:233px;
		height:288px;
		float:left;}
		
	


/**************************end********************************/



/*******bodyer_three*******/	


.bodyer_three
{
	width:1308px;
	height:671px;
	float:left;
	margin-top:100px;
	background-image:url(images/bodyer_three1.png);
	background-repeat:no-repeat;
	}

.bodyer_three_product{
	width:558px;
	height:367px;
	margin-left:auto;
	margin-right:auto;
	margin-top:112px;}
	
.bodyer_three_product_left
{
	width:301px;
	height:367px;
	float:left;
	margin-left:5px;}


.bodyer_three_product_right
{
	width:230px;
	height:367px;
	float:left;}












/**************************end********************************/



.bodyer_four{
	width:1308px;
	height:718px;
	float:left;
	margin-top:90px;
	background-image:url(images/bodyer_four.png);
	background-repeat:no-repeat;}
	
	
.bodyer_four_product
{
	width:587px;
	height:263px;
	margin-top:157px;
	margin-left:auto;
	margin-right:auto;
	}
	
.bodyer_four_product_left
{
	width:328px;
	height:263px;
	float:left;
	}
	
.bodyer_four_product_right{
	width:230px;
	height:367px;
	float:left;}
	
	
	






.bodyer_five
{
	width:1308px;
	height:795px;
	float:left;
	margin-top:90px;
	background-image:url(images/bodyer_five.png);}
	
.bodyer_five_text
{
	width:276px;
		height:80px;
		margin-left:auto;
		margin-right:auto;}


	
.bodyer_five_product
{
	width:549px;
	height:344px;
	margin-left:auto;
	margin-right:auto;
	margin-top:146px;
	}
.bodyer_five_product_left
{
	width:318px;
	height:344px;
	float:left
	}
	

.bodyer_five_product_right
{
	width:231px;
	height:344px;
	float:left;
	}
	
	
	
	
	
	
	
	
	.bodyer_Six
	{
		width:1308px;
		height:755px;
		float:left;
		margin-top:80px;
		}
		
	.bodyer_Six_contnet
	{
		width:692px;
		height:755px;
		margin-left:auto;
		margin-right:auto;
		background-image:url(images/six.png);
		background-repeat:no-repeat;
		position:relative;}
	
	
	.bodyer_Six_contnet_left_top
	{
		width:443px;
		height:72px;
		float:left;
		position:absolute;
		left:135px; top:133px;}
		
	.bodyer_Six_contnet_left_bottom
	{
		width:443px;
		height:231px;
		position:absolute;
		top:278px; left:134px;}
		
	.bodyer_Six_contnet_left
	{
		width:229px;
		height:231px;
		float:left;}
	.bodyer_Six_contnet_right
	{
		width:214px;
		height:231px;
		float:left;}
		
		
	
	
	.bodyer_seven
	{
		width:1308px;
		height:400px;
		float:left;
		margin-top:20px;
		position:relative;
		}
		
	.bodyer_seven_bj
	{
		width:688px;
		height:400px;
		margin-left:auto;
		margin-right:auto;
		background:url(images/choujian_bj.jpg);
		border:#fddbe0 2px solid;
		
		}
	
	.bodyer_Luck_draw
	{
		width:400px;
		height:400px;
		float:left;
		margin-left:292px;}
	.bodyer_seven_left
	{
		width:292px;
		height:400px;
		position:absolute;
		left:308px;
		text-align:center;
		font-family:"幼圆";
	}
	.bodyer_seven_left h1
	{
		color:#2a1111;
		font-size:27px;
		margin-top:19px;
}
	
	.bodyer_seven_left p
	{
		color:#fff;
		font-size:19px;
		margin-top:6px;}
	
